.site-search {width: 98%;margin: 10px 4px;}
.siteDetails {height:42px;    margin: 0px;padding:5px 5px;}
.graphDetails{background:#CCC;height:567px;margin-top:0px;padding:5px 5px;display:none;}
.title-site {height:20px;/* background: rgba(187, 202, 196, 0.87); */color: #3a6f48;font-weight:bold;}
.reportName{color:#607D8B;padding:1px 0px;font-weight:bold;margin:0px 5px;} 
#my-search {}
.GraphPart {/* background:green; */background: -webkit-linear-gradient(45deg, #ededed 0%, #76767685 100%);height:auto;margin:0px;margin-top: 5px;padding:5px;}
.form-control {font-size: 13px !important;}
.p-l-5 {padding: 0px;padding-left: 5px;}
.nav-tabs-fillup>li>a span {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 5px, 0px);
    transform: translate3d(0px, 5px, 0px);
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
     display: contents;
    font-weight: 700;
     line-height: 1.5; 
}
.firfox-brow ul li span ul li {
	margin-top: 10px;
}
.nav-tabs-fillup>li>a:after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;    
    /* box-shadow: 0 -2px 0 #57889c; */
    background:#57889c;    
    border: 1px solid #c2c2c2; 
    border-bottom:0px;
    /* border-top:2px solid #57889c; */
    content: "";
    height: calc(100% + 1px);
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0px);
    transform: translate3d(0, 100%, 0px);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.ui[class*="right labeled"].icon.button {padding-right: 4.07142857em !important;padding-left: 10px !important;}
.nav-tabs-fillup>li>a.active {z-index: 100;color: #FFF !important;}
.btn-size {height:30px;padding: 5px 11px !important;}
.graph-type{background:#FFF;border:1px solid #CCC;height: 90%;margin-top: 0px;}
.dropdownHeight {height:5%;margin:0px 5px !important;}
.chart-part{background:#FFF;border:1px solid #CCC;height: 85%;margin-right:5px;}
.ndf { margin-top:17%;}
#fromDate,#toDate {width: 120px;/* float: right; */margin-left: 5px;border-radius:3px;text-align:center;} 
.txtlblName {font-weight:normal;margin-top:5px;float:right;}
.expand-size {font-size:15px !important;float:right;}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 10px;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 4px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
.ui.scrolling.dropdown .menu .item.item.item, .ui.dropdown .scrolling.menu > .item.item.item {padding: 2px 12px !important;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-primary {color: #fff !important;background-color: #57889c  !important;border-color: #4e7a8c !important;}
ui-multiselect-menu {height: 239px;display: none;width: 225px;top: 168px;left: 420px;z-index: 9999 !important;}
.btn-range-selector {font-size:12px;/*    background: #64a27b; *//*  border: 1px solid #23a218; */}
.btn-range-selector:active {background: #286090  !important;border: 1px solid #286090  !important;color:#FFF !important;}
.btn-range-selector:hover {/* background: #286090  !important; */background:#FFF;border: 1px solid #CCC  !important;color:#000 !important;}
/* .content-bg{height:80%;width:99.3%} */
.graphpart0 {marging:0px 5px !important;}
.SitebgChange  .search{color:#000 !important;}
.equipmentDropdown{width:90%;}
.parameterDropdown{margin-left: -8px;width:90%;}
.btn-view{border: 1px solid #CCC;height: 26px;padding: 4px 12px !important;width: 100px;}
.btn-clear{float:right;height:24px;border:1px solid #CCC;padding: 4px 12px !important;display:none;width:80px;}
#Equipdropdown,#Paradropdown{width:99%;}
.GraphPart{display:none;} 
/* #chartData1,#chartData2,#chartData3{position:absolute}; */
.highcharts-container,.highcharts-root{width:100% !important;}
#chartData1,#chartData2,#chartData3{width:98% !important;}
/* .btn-alert-danger{width: 100px;float: left;margin: 0px 2px;cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding:3px;} */
.btn-alert-danger {
	    width: 160px;
    height: 29px;
    float: left;
    margin: 2px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 6px;
    font-size: 12px;
}
.btn-alert-danger:hover{cursor:pointer;}
.btn-display{display:none;}
.noti-padd{    padding: 1px 0px;}
.ui.dropdown .menu > .item:hover {background: rgba(0, 0, 0, 0.05);color: rgba(0, 0, 0, 0.95);z-index: 13;}
.SitebgChange.ui.dropdown .menu > .item:hover {background: #b0e0fb  !important;color: rgba(0, 0, 0, 0.95);z-index: 13;}
.SitebgChange.ui.selection.dropdown{
	/* background: #CCC; */
	/* background:-webkit-linear-gradient(45deg, rgba(223, 245, 235, 0.87) 0%, rgb(158, 220, 156) 100%); */
	/* background:-webkit-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%); */
	/* background:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.95) 0%, rgb(195, 204, 195) 100%); */
	/* background:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.95) 0%, #f2f2f5 100%); */
	border: 1px solid #CCC; color:#FFF;border-radius:0px !important;    padding: 7px;
    line-height: 16px !important;margin-left: 10px;z-index: 999 !important;}
#equipmentDropdown{width:99%;}
.ui-multiselect {padding: 2px 0 2px 4px;text-align: left;width: 99% !important;}
/* .loading-gif {text-align:center;} 
.loading-icon{text-align:center;margin-top:14%;position:absolute;} */
.SelectGraph{background:#CCC;height:600px;}
.graphpart-02{padding:5px 5px 3px 0px;}
.graphpart-03{    padding: 1px;padding-left: 5px;}
.btn-view:hover{color: #fff !important;background-color: #5cb85c !important;border-color: #4cae4c !important;}
.SitebgChange.ui.search.dropdown > .text {cursor: text;position: relative;left: 1px;z-index: 3;font-weight:500 !important;font-size:14px !important;color: #348677 !important;}
.SitebgChange.ui.dropdown > .dropdown.icon:before {content: '\f0d7';/* content: '\f0b0'; */font-size: 20px;color:#38536b !important;}
.SitebgChange.ui.selection.dropdown {line-height:14px;}
.SitebgChange.ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.2142em;
    /* top: 0.78571429em; */
    top: 7px !important;
    right: 1em;
    z-index: 3;
    margin: -0.78571429em;
    padding: 0.78571429em;
    opacity: 0.8;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}
.area-chart:before {
    font-family: FontAwesome;
    /* content: "\00BB"; */
    /* content: "\25b6"; */
    /* content: "\f1fe" !important; */
    /* content: "\00BB \0020"; */
    /* font-size: 18px !important; */
}
.line-chart:before {
	 font-family: FontAwesome;
	 content: "\f080" !important;
}
.combinedchart:before {
	font-family: FontAwesome;
    /* content: "\00BB"; */
    /* content: "\25b6"; */
   /*  content: "\f1fe" !important; */
    /* content: "\00BB \0020"; */
    /* font-size: 18px !important; */
}
.combinedchart:before  {
	font-family: FontAwesome;
	/* content: "\f201" !important; */
	/* background:url(../img/parameters.png); */
}
.highcharts-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    color:#000;
}
.filter-labels{height:31px;    overflow-y: auto;overflow-x: hidden;margin-left: 15px;}
/*.highcharts-axis-title {fill: #8c8585  !important;font-weight: normal; font-size:12px;   /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }*/
.nav-tabs>li>a{text-transform:none !important;font-size:11px !important;width:115px !important;}
.SelectSiteType{background:#CCC;height:auto;display:none;}
.equipmentandparameter{height:100%;background:#FFF;}
.graphselection{height:100%;background:#FFF;    margin-left: 1px;padding:10px;}
.icon-reset,.icon-apply{color:FFF;font-size:14px;margin-right:10px;}
.txtGraphType{font-size:14px;font-weight:bold;color: #446d7d;}
.btn-footer{text-align:center;    margin-top: 10px;height: 160px;}
.btn-tab-width{width:100px;}
#EquipmentTree,#ParameterTree{height:70%;overflow-y:auto;overflow-x:hidden;}
.btnResetActive {background:#626262;color:#FFF !important;}
.btnResetActive:hover {background:#888484;}
.resethover:hover {background:#c3c3c3;}
.nav-item{cursor:pointer;}
.btn-normal-view {background: #626262;color:#FFF;}
.highcharts-menu-item {padding: 0.5em 1em;background: none;color: #333333;cursor: pointer;transition: background 250ms, color 250ms;font-weight: normal;}
#reportrange span {margin-top: 2px;padding-top: 0px;position: absolute;margin-left: 5px;}
.highcharts-legend-item text {fill: #333333;font-weight: normal !important;cursor: pointer;stroke-width: 0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.highcharts-title {fill: #434348;font-weight: bold;font-size: 12px !important;font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;}
.SitebgChange.ui.dropdown .menu .active.item {background: transparent;font-weight: bold;/* color: rgba(0, 0, 0, 0.95); */box-shadow: none;z-index: 12;color: #348677 !important;}
/* .highcharts-axis-title {fill: #000 !important;font-weight: 600 !important;font-size: 11px !important; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;} */
.glyphicon-check:before {content: "\e067";color: #3cb13c;}
.toast-top-left{margin-left: 40%!important;margin-top:65px!important;}
.highcharts-axis-title{font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;color:#000 !important; font-size:12px;}
/* Pretty printing styles. Used with prettify.js. */
.highcharts-axis-title{color:#000 !important;}
.highcharts-axis .highcharts-yaxis{color:#000 !important}
.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 5px; border:1px solid #d2d2d2; background:#f5f5f5 }

@media print {
  .str { color: #060;}
  .kwd { color: #006; font-weight: bold;}
  .com { color: #600; font-style: italic;}
  .typ { color: #404; font-weight: bold;}
  .lit { color: #044;}
  .pun { color: #440;}
  .pln { color: #000;}
  .tag { color: #006;font-weight: bold;}
  .atn { color: #404;}
  .atv { color: #060;}
}

@media only screen and (min-width:320px) and (max-width:480px) and  (orientation: portrait) {
	.graph-type {background: #FFF;border: 1px solid #CCC;height: auto !important;margin-top: 0px;}
	ul#my-tree {margin: 0;padding: 0px 5px;color: #000;height: auto;font-size: 12px;}
	.dropdown{width:100%;}
	.dropdown1{margin-left: -8px;width:100%;}
	.dropdownHeight {height:15%;margin:0px !important;}
	.graphpart0 {marging:0px !important;}
	.chaartdiv-01 {margin-top:5px !important;padding:0px !important;margin:3px;}
	.chaartdiv-02 {margin-top:5px !important;text-align:center;}
	.btn-size {height: 30px;padding: 5px 10px !important;}
	.chartdiv-fromoDate{margin:5px 0px;}
	.chartdiv-fromoDate{margin:5px 0px;}
	.chart-part{margin-right:0px !important;}
	.zoom{text-align:center;}
	.SitebgChange.ui.selection.dropdown{margin-left:0px !important;}
	.equipmentandparameter {
    height: auto;
    background: #FFF;
}
.nav-tabs>li>a {
    text-transform: none !important;
    font-size: 10px !important;
    width: 95px !important;
}
.graph-img,.equip-img,.para-img{display:none;}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.cs-wrapper {
    display: none !important;
}
.hidden-sm-down {
    display: block !important;
}
.filter-labels {
    height: 31px;
    overflow-y: auto;
    overflow-x: hidden;margin-left:0px;}
}