@charset "ISO-8859-1";

.breadcrumb {
    /* font-family: 'Montserrat'; */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #FFF !important;
    /* padding: 15px 0; */
    margin: 0;
    border: none;
    /* text-transform: uppercase; */
    display: block;
    padding: 0px 10px !important;
    margin-bottom: 3px !important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px !important;
}