
.selectSite.ui.search.dropdown > .text {
    cursor: text;
    position: relative;
    left: 1px;
    z-index: 3;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #348677 !important;
}
.selectSite.ui.dropdown > .dropdown.icon:before {
    content: '\f0d7';
    /* content: '\f0b0'; */
    font-size: 20px;
    color: #38536b !important;
}
.selectSite.ui.selection.dropdown {
    /* background: #CCC; */
    /* background: -webkit-linear-gradient(45deg, rgba(223, 245, 235, 0.87) 0%, rgb(158, 220, 156) 100%); */
    /* background: -webkit-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%); */
    /* background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.95) 0%, rgb(195, 204, 195) 100%); */
    /* background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.95) 0%, #f2f2f5 100%); */
    border: 1px solid #CCC;
    color: #FFF;
    border-radius: 0px !important;
    padding: 7px;
    line-height: 16px !important;
    margin-left: 0px;
}
.highcharts-legend-item{
	font-size: 10px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 5px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.carousel-indicators {
    bottom: 0px;
    margin-bottom: 4px;
}
	.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.glyphicon-chevron-right:before {
    content: "\e080";
    color: #818181;
}
.glyphicon-chevron-left:before {
    content: "\e079";
    color: #818181;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: red;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-control.right,.carousel-control.left{
	background-image: none !important;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: blue;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top:0px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: none;
}
.carousel-caption {
    right: 0% !important;
    left: 1% !important;
    padding-bottom: 0px;
}
/*.carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 30px;
}*/

.dropdown-menu-right {
    left: -70px !important;
}
.ui.search.dropdown .menu {
    max-height: 12.02857143rem;
}
.ui.search.dropdown > input.search {
    background: none transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: text;
    top: 0em;
    left: -2px;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding: inherit;
}
    div.dataTables_wrapper div.dataTables_length select {
                width: 50px;
                display: inline-block;
                margin-left: 3px;
                margin-right: 4px;
            }
            
            .ui.form textarea:not([rows]) {
    height: 4em;
    min-height: 4em;
    max-height: 24em;
}
.ui.icon.input > i.icon:before, .ui.icon.input > i.icon:after {
    left: 0;
    position: absolute;
    text-align: center;
    top: 36%;
    width: 100%;
}


.input-sm, .form-horizontal .form-group-sm .form-control {
    font-size: 13px;
    min-height: 25px;
    height: 32px;
    padding: 8px 9px;
}
  
#example td a {
    color: #337ab7;
    font-weight: bold;
}
.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0 !important;
}

.tbh-width {
    width: 150px;
    padding-right: 30px !important;
}

.dt-buttons {
    margin-left: 50px;
}

.buttons-collection {
    height: 28px;
    padding: 3px;
    /*  z-index:9999; */
}


.buttons-excel {
    background: rgba(36, 95, 68, 0.87);
    color: #FFF;
}

.buttons-pdf {
    background: rgb(98, 165, 96);
    color: #FFF;
}

.dataTables_filter {
    float: right;
}

.dataTables_length {
    float: left;
}


.ui.selection.dropdown {
    width: 100%;
    margin-top: 0.1em;
   /*  height: 2.3em; */
}

.ui.selection.dropdown .menu {
    width: 100%;
    white-space: normal !important;
}

.ui.selection.dropdown .menu .item:first-child {
    border-top: 1px solid #ddd !important;
    min-height: 2.8em;
}

.ui.selection.dropdown .text {

    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.oveallSearch .text {
    /* color: #eae9e9 !important; */
    color: #a49c9c !important;
}

.ui.selection.dropdown .icon {
    text-align: right;
    margin-left: 7px !important;
}