.theme-loader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
}
.theme-loader .loader-track {
  left: 50%;
  top: 50%;
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
}
.theme-loader .loader-track:after, .theme-loader .loader-track:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 4px solid #00677F;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.theme-loader .loader-track:after {
  width: 100%;
  height: 100%;
  -webkit-animation: move 1.4s linear infinite;
          animation: move 1.4s linear infinite;
}
.theme-loader .loader-track:before {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  -webkit-animation: move 1.2s linear infinite;
          animation: move 1.2s linear infinite;
}
.theme-loader .loader-track .loader-bar {
  left: 50%;
  top: 50%;
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  top: 30px;
  left: 30px;
}
.theme-loader .loader-track .loader-bar:after, .theme-loader .loader-track .loader-bar:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 4px solid #00677F;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.theme-loader .loader-track .loader-bar:after {
  width: 100%;
  height: 100%;
  -webkit-animation: move 1s linear infinite;
          animation: move 1s linear infinite;
}
.theme-loader .loader-track .loader-bar:before {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  -webkit-animation: move 0.8s linear infinite;
          animation: move 0.8s linear infinite;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}