@charset "ISO-8859-1";



.lbl-color {
	color: #000 !important;
}

.invalid {
	color: #DB2828;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.ui.segment {
	position: relative;
	background: #FFFFFF;
	opacity: 0.8 !important;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
	margin: 1rem 0em;
	padding: 1em 1em;
	border-radius: 0.28571429rem;
	border: 1px solid rgba(34, 36, 38, 0.15);
}
