 @import 'highcharts.css'; 

#container {
	height: 400px;
	width: 1400px;
	margin: 0 auto;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
	fill: #7cb5ec;
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
	fill: #7cb5ec;
}
.highcharts-color-1 {
	fill: #90ed7d;
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
	fill: #90ed7d;
}


.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}


highcharts-color-2 {
	fill: #475d82;
	stroke: #475d82;
}
.highcharts-axis.highcharts-color-2 .highcharts-axis-line {
	stroke: #475d82;
}
.highcharts-axis.highcharts-color-2 text {
	fill: #475d82;
}


highcharts-color-3 {
	fill: #132d59;
	stroke: #132d59;
}
.highcharts-axis.highcharts-color-3 .highcharts-axis-line {
	stroke: #132d59;
}
.highcharts-axis.highcharts-color-3 text {
	fill: #132d59;
}


highcharts-color-4 {
	fill: #65686d;
	stroke: #65686d;
}
.highcharts-axis.highcharts-color-4 .highcharts-axis-line {
	stroke: #65686d;
}
.highcharts-axis.highcharts-color-4 text {
	fill: #65686d;
}

