.searchbox {
    height: 25px;
    width: 200px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding-left: 10px;
    color: #6a6c6f;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
/*.card-footer {
    color: inherit;
    border: 1px solid #eaeaea;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(234, 234, 234);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(234, 234, 234);
    border-top: 0;
    font-size: 90%;
    background: #f7f9fa;
    padding: 10px 15px;
}*/
.card-footer {
    padding: .5rem 1rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.h-200 {
    height: 200px;
}
.h-150 {
    height: 150px;
}
.h-300 {
    height: 300px;
}
.h-50 {
    height: 50px !important;
}
.h-55 {
    height: 55px !important;
}
.normal {
    background: #5bc102;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
    margin-top: 15px;
}
.nortxt {
    color: #6a6c6f;
    font-size: 12px;
    margin-top: 11px;
    position: absolute;
    margin-left: 10px;
}
.warntxt {
    color: #6a6c6f;
    position: absolute;
    font-size: 12px;
    margin-top: 11px;
    margin-left: 10px;
}
		
.copyrits {
    color: #FFF;
   /*  background: #0674b7; */
}
.calendar {
    /* height: 100%; */
}
.tktSearch .text {
	height:30px !important;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}
.btn-width {
	width:150px;	
}
.warn {
    background: #ffd600;
    margin-top: 15px;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
}
.btn-primary-sub {
	
	color: #fff !important;
    background-color: #5499d4;
    border-color: #2e6da4;
}
.m-l-25 {
	margin-left:25px !important;
}
.btn-primary-sub:hover {
	color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary-hold {
    color: #fff !important;
    background-color: #11538c;
    border-color: #2e6da4;
}
.btn-primary-hold:hover {
    color: #fff !important;
    background-color: #5499d4;
    border-color: #2e6da4;
}
.err {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
.errtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 11px;
    font-size: 12px;
    margin-left: 10px;
}
.offtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 12px;
    font-size: 12px;
    margin-left: 10px;
}
.off {
    background: #808080;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
.mb-0 {
	    margin-bottom: 0px !important;
}
.ml-20 {
    margin-left: 17px;
}
.ml--20{
    margin-left: -20px !important;
}
.ml-25 {
    margin-left: 25px;
}
.mt-5 {
	margin-top:5px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pt-5 {
	padding-top:5px !important;
}
.pr-15 {
    padding-right: 15px;
}
.panel-heading {
    font-weight: bold;
}
.m-b-200{
	margin-bottom:200px;
}
.m-b-100{
	margin-bottom:100px;
}
.m-b-80{
	margin-bottom:80px;
}
.overflow{
	overflow-x:scroll;
}
#gotop {
    background: #5B835B !important;
    z-index: 9999;
}
.card-footer {
    padding: .50rem 1.00rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.card-footer p{
     font-size: 12px;
    }
.card-block p {
    margin:0px 0px 0px 0px;
        font-size: 12px;
}
.padd10 {
	padding:10px;
}
.card-footer a {
    font-size: 13px;
    cursor: pointer;
}
#example_length {
    float: left;
}
#example_filter {
    float: right;
} 
.text-clr {
	color:#FFF !important;
	font-weight:bold;
}
.tkt-high {
	background:#F9152F;
	color:#FFF;
}
.tkt-medium {
	background:#FF6600;
	color:#FFF;
}
.tkt-low {
	background:#F5bcoc;
	color:#FFF;
}
.tkt-mandat {
	font-weight:bold;
	font-style:Italic;
}
.table-bordered > thead > tr > th {
    border-bottom-width: 1px !important;
}
.offl {
    background: #808080;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 3px;
    margin-right: 2px;
}
.war {
    background: #ffd600;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 3px;
    margin-right: 0px;
}
.erro {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 3px;
    margin-right: 0px;
}
.act {
    background: #5bc102;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 3px;
    margin-right: 0px;
}
.newlink {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #6a6c6f;
}
/* .sitsearch {
	min-height:28px !important;
	height: 28px !important;
	font-size: 13px !important;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.dataSite .text {
	    font-size: 13px !important;
    color: #6a6c6f !important;
} */
.newlink:hover {
    text-decoration: none;
}
.center {
    text-align: center;
}
.graphName {
	margin-top:20px;
	font-weight:bold;
	font-weight:bold;
	font-size:18px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-t-xl {
    margin-top: 40px;
}
.font-extra-bold {
    font-weight: 700 !important;
}
.header-icon:hover {
    text-decoration: none !important;
    color: #FFF !important;
}
.map{
    height: 675px;
    position: relative;
    overflow: initial;
}
.cmaps {
    height: 450px;position: relative;overflow: initial;
}
.list ul li a{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6a6c6f;
}
.list ul li a:hover {
    text-decoration: none;
}
.canvasjs-chart-toolbar {
    display: none;
}
.canvasjs-chart-credit {
    font-size: 0px !important;
}
.export-main,.amcharts-scrollbar-grip-left,.amcharts-scrollbar-grip-right {
    display: none !important;
}
.amcharts-chart-div a{
    font-size: 0px !important;
}
.text-master:hover {
    text-decoration: none !important;
}
.chat-user-list  a:hover{
    text-decoration: none;
}
.one-of-two {
    width: 10%;
    float: left;
    margin-top: 10px !important;
}
.text-warning {
    color: #aaacae !important;
}
.fs-12 {
    font-size: 12px !important;
}
.two-of-two {
    width: 90%;
    float: left;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.one-of-three {
    width: 15%;
    float: left;
}
.two-of-three {
    width: 70%;
    float: left;    
}
.text-masters {
    color: #9a9ca0 !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 95%;
}
.text-masterse {
    color: #6a6c6f !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    overflow: hidden;
    width: 100%;
}
.text-master {
    color: #6a6c6f !important;
    float: left;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.dropdown-menu {
    /*padding-left: 200px;*/
    /* width: 150px;
    left: -100px !important; */
}
.acti {
    color: #5bc102;
    font-weight: bold;
    margin-left: 10px;
}
.sitemap {
    height: 85px;
    width: 100%;
}
#chartdivs {
    width: 100%;
    height: 500px;
}
.viewdetails {
    border:1px solid #CCC;
     border-radius: 5px;
}
.one {
    height: 100px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 5px;
    /*text-align: center;*/
    margin:15px;
}
.sitename {
    /* background: #337ab7; */
    padding: 5px;
    width: 25%;
    /* text-align: center; */
    color: #5c5f61;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size:11px;
}
.p-t-0{
	padding-top:0px !important;
}
.sitesearch {
	min-height: 30px !important;
    margin-top: 5px;
    line-height: 10px !important;
}

.equname {
    float: right;
    background: #5b835b;
    padding: 5px;
    width: 10%;
    text-align: center;
    color: #FFF;
    border-radius: 0 0 5px 5px;
}
.viewdetails:hover + .view, .view:hover {
    display: inline-block !important;
}
.center {
    text-align: center;
}
.viewde {
    border:1px solid #CCC;
    border-radius: 5px;
}
.column1,.column2,.column3 {
    padding-top: 10px;
    padding-bottom: 15px;
}
.titles {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px !important;
    color: #6a6c6f;
    /*padding: 6px;*/
    font-weight: bold;
}
.txt {
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px !important;
    color: #6a6c6f;
    font-size: 8px !important;
}
.btn-cons:hover {
    color: #FFF !important;
}
.animated {
    left: 0px !important;
}
.dropp {
    text-align: center;
}
#dropdownMenuButton {
    padding: 6px 95px;
}
#address {
    margin-top: 40px;
}
.dropdown a:hover {
    text-decoration: none;
}
.animated li {
    border-bottom:none !important;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu li a:hover {
    background: none !important;
}
.scroll {
    height: 440px;
}
.popuptitle {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px !important;
    color: #6a6c6f;
}
.txtbox {
    width: 100%;
}
.mt-15 {
    margin-top: 15px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-150 {
    margin-top: 150px;
}
.mb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sub-content {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sub-content ul li {
    list-style-type: none;
}
.sub-content ul  {
    margin-left: -40px;
}
.addres-cont {
    background: #CCC;
    height: 80px;
}
.conte {
    border:1px solid #CCC;
    border-radius: 5px;
}
.tkt {
    background: #5B835B;
    padding: 5px;
    color: #FFF;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 0px;
    margin:0px;
}
.recomme {
    text-align: right;
}
.mb-15 {
    margin-bottom: 15px;
}
.addcont {
    border:1px solid #CCC;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.select {
    margin-top: 250px;
    margin-left: 940px;
    width: 150px !important;
}
.flipInX  {
    left: 0px !important;
}
.events ul {
    margin-left: -40px;
}
.events ul li {
    list-style-type: none;
    border-bottom: 1px solid #CCC;
    /*width: 96%;
    margin-left: 5%;
    margin-right: 5%;*/
}
/* .card {
	border:none !important;
}
.userlogin {
	font-size: 20px;
    text-align: center;
    margin-left: 7px;
    color: #FFF;
}
.copyrits {
	color: #FFF;
    background: #0674b7;
    
}
.txtwidth {
	width:100%;
}
.buttons-excel {
	width:80px;
}
.profile-dropdown {
	left: -90px !important;
}
.exportlog {
	margin-left:0px;
	left:-90px;
}
.oveallSearch {
         height: 15px !important;
width: 200px !important;
line-height: 7px !important;
border-radius: 6px !important;
margin-top: 15px !important;
       } */
.events {
    height: 375px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.txt-cmt {
    background: #CCC;
    border-radius: 5px;
    line-height: 18px;
}
.hr {
    border-bottom: 1px dotted #CCC;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.conte {
    /*height: 85px;*/
    overflow-y: scroll;
}
.overall {
    height: 185px;
}
.cmt {
    margin-top: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.amcharts-scrollbar-vertical {
    display: none;
}
.width {
    width: 100%;
    float:left;
}
.fields {
    color: #626262;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    font-weight: 600 !important;
}
.state .card-title {
    padding: 0px !important;
}
.state .card-header {
    padding: 0px !important;
    min-height: 10px;
}
.input-sm {
    padding: 0px 10px !important;
}
.siteStatusActive {
	color:#5BC102;
}
.siteStatusWarning {
	color:#FFD600;
}
.siteStatusDown {
	color:#F03C3D;
}
.siteStatusOffline {
	color:#808080;
}


/****************** Hover Part ********************/
.site {
  position: relative;
  width: 100%;
}
.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.site:hover .over {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.site:hover .title {
/*   top: 90px; */
  display:none;
}

.button {
 /*  position: absolute;
  width: 1200px;
  left:0;
  top: 50px;
  text-align: center; */
 /*  opacity: 0; */
  transition: opacity .35s ease;
}
#txtCloseRemarks .ui.form textarea:not([rows]) {
    height: 5em !important;
    min-height: 4em;
    max-height: 24em;
}
.padd-15 {
    padding: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 6px !important;
}
.padding-15 {
	padding:15px;
}
.modal-header .close {
	 /*    background: #bd5b5b; */
    /* padding: 5px; */
    height: 25px;
    opacity: 1;
    color: #FFF;
    border-radius: 5px;
    width: 25px;
    top: 13px !important;
    
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.center {
	text-align:center;
}
.site:hover .button {
  opacity: 1;
}
.sitedet {
    position: relative;
  width: 100%;
    }  
.sitedet:hover .button {
  opacity: 1;
}
 .popup-header {
    /*background:-webkit-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%);*/
    /*background: -webkit-linear-gradient(45deg, #6326e4 0%, #db2828 100%);*/
    background: -webkit-linear-gradient(45deg, #505454 0%, #f5ecec 100%);
    border-radius: 5px 4px 0px 0px;
}

.calendar {
	height:37px !important;
}
  
    #SearcSElect .ui.dropdown .menu .active.item {
    background: transparent;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
    z-index: 12;
    display: none;
}
#Prior.ui.dropdown .menu .active.item {
    background: transparent;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
    z-index: 12;
    display: none;
}

#example3 .ui.icon.input > i.icon:before, .ui.icon.input > i.icon:after {
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    /* margin-top: 0em; */
}

    /* #ddlType .ui.dropdown .menu .active.item {
    background: transparent;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
    z-index: 12;
    display: none;
} */
  
 #ddlProcessType i {
 	display:none;
 }
.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.sitedet:hover .over {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.list ul li:hover {
    background: #CCC;
    /*height: 70px;*/
}
.animated ul li:hover {
    background: #DDD;
    height: 10px !important;
}
.bar {
    color: #FFF;
}
.top{
    margin-top: 0px !important;
}
.head {
    height: 51.49px !important;
    background: #5B835B;
}
.menu-logo {
	width:87%;
}
.bars {
    font-size: 21px;
    color: #FFF;
    float: right;
    margin-right: 9px;
    margin-top: 16px;
    cursor: pointer;
}
.logos {
   /*  padding: 8px 11px 10px 55px; */
   padding: 8px 11px 10px 68px;
/* height: 40px; */
width: 100%;

}

ul#my-tree	{margin:0; padding:10px 5px; color:#000;    height: 350px;font-size: 12px;}
	ul#my-tree	li		{margin:0px 11px;padding-left: 2px !important;}
ul#my-tree li:before {
	/*  content: "\00BB"; */
	 font-size: 14px;
    margin-left: -20px;
}
.tf-child-false:before {
	/* content: "\00BB"; */
	/* content: "\25b6"; */
	content:  "\00BB \0020"; 
	    font-size: 18px !important;
}
.tf-child-true:before {
	/* content:  "\00BB \0020"; */
	    content: "\25b6";
}
/* .tf-child-true:after {
	content:  "\00BB \0020";
} */
.graphHeight {
	height: 465px;
}

#chkInverters:before {
	display:none;
}
.ui.checkbox .box:active::before, .ui.checkbox label:active::before {
    background: #136bc3;
    border-color: rgba(34, 36, 38, 0.35);
}

/* .ui.form .fields.error .field .ui.dropdown, .ui.form .field.error .ui.dropdown {
    border-color: #E0B4B4 !important;
    line-height: 20.5px !important;
    
}


.ui.form .fields.error input[type="text"] {
    border-color: #E0B4B4 !important;
    line-height: 19px;
    
} */ 
.invName,.senName {
	    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}
.filterbox {
	height: 375px;
	position: absolute;
	z-index: 1;           
	border: 1px solid #868686;
	background:rgba(218, 218, 218, 0.87) ;
   	/* background: -webkit-linear-gradient(45deg, rgba(167, 190, 197,0.87) 0%, rgba(125, 137, 173, 0.87) 100%); */
   	width:97.7%; 
   	    margin-top: -11px;
}
	div.desc	{margin:20px 0; color:#aaa; font-size:11px; text-align:left;}
.tf-child-true .div {
	color:#FFF;
}
ul#my-tree  .tf-selected .icons:before {
    /* content: "\00BB"; */
    font-size: 14px;
    margin-left: -20px;
    color: #000;
}
.tf-child-false {
	color:#12211c;
	    /* font-weight: 550; */
}
.tf-tree .tf-selected
.icons {
    width:25% !important;
    float: right;
}
.tf-selected:before {
    color: #12211c !important;
}
.card-header {
    border-bottom: 0px;
}
.border {
    border-radius: 5px !important;
}
.icon-thumbnail:hover {
    background: #5B835B;
    color: #FFF;
    height: 40px;
    width: 40px;
}
.sitehei {
    height: 60px;
} 
.add-body {
    height: 500px;
    /*overflow-y: scroll;*/
}
#chartdiv {
   width : 100%;
   height   : 250px;
}  
tbody > tr > td > a {
    color: #626262;
}
tbody > tr > td > a:hover {
    text-decoration:none;
    }
.pg-close {
        font-size: 17px;
}
.pg-close:hover {
    text-decoration: none;
}

/************** Menu **********************/
#navContainer {
    margin: 0 0 0 0px;
    padding: 0;
    background: #FFF;
    /*border: 1px solid #7398ba;*/
    /*text-align: center;*/
    width: 100%;
}
#navContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navContainer ul li {
    position: relative;
    border-bottom: 1px solid #CCC;
}
#navContainer ul li span {
    display: block;
}
#navContainer ul li a {
    text-decoration: none;
    color: #626262 !important;
    display: block;
    padding: 20px;
}
#navContainer ul li span:hover {
    /*background: pink;*/
}
#navContainer ul li a:hover {
    /*background: black;*/
}
#navContainer ul ul {
    position: absolute;
    display: none;
}
#navContainer ul ul li a {
    background: #FFF;
}
#navContainer ul li:hover ul {
    width: 50%;
    position: fixed;
    display: block;
    left: -170px;
    top: 0;
}
.sub-drop li a{
    padding: 8px !important;
    color: #626262 !important;
    font-size: 12px;
}
.popup-hei {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal-top {
    margin-top: 170px !important; 
    position: absolute;
}
/* .modal-open .modal {
    overflow-x:none;
   overflow-y: hidden !important;
} */
.add-list ul {
    margin-left: -50px;
}
.add-list ul li {
    padding: 0px 0px 0px 10px;
    list-style-type: none;
}
.recent{
    background: #5B835B !important;
    color: #FFF;
    padding: 6px;
}
.add-list ul li {
    background: #CCC;
    color: #FFF;
    padding: 6px;
    margin-bottom: 5px;
}
.data-cont {
    border:1px solid #5B835B;
    border-radius:5px 5px 0px 0px;
    padding-bottom: 30px;
}
.add-head {
    background: #5B835B !important;
    color: #FFF;
    padding: 10px;
}
.add-text {
    text-align: right;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #626262;
}
.txt-box {
    width: 95%;
}
.data-deta {
    border:1px solid #CCC;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cmt {
    background: #5B835B;
    padding: 5px;
    height: auto;
}
.cmt-list {
    border:1px solid #5B835B;
    border-radius: 5px;
}
.cmt-list ul {
    margin-left: -40px;
    height: 320px;
    overflow-y: scroll;
}
.cmt-list ul li {
    /*padding: 10px;*/
    list-style-type: none;
    /*background: #5B835B;*/
    margin-bottom: 10px;
    /*border-bottom: 1px solid #CCC;*/
}
.hr {
    border-bottom: 1px solid #CCC;
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}
.cmtcontent {
    background: #CCC;
    border-radius: 8px;
}
.cmtcontent p {
    padding: 5px;
}
.border {
    /*border-bottom: 1px dotted #CCC;*/
    width: 100%;
   
    padding-bottom: 2%;
}
.hr-line {
    border-bottom: 1px dotted #CCC;
    width: 95%;
     margin-left: 2%;
     margin-right: 2%;
}

.wrapper {
    background: #FFF;
    height:auto;
   	width: 60%;
   margin-left:20%;
    
} 
.padd {
    padding: 10px;
}
.padd-0 {
    padding:0px !important;
}
.ml {
    margin-left: 10px;
    margin-top: 10px !important;
}
.conte {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.txt-padd {
    padding: .97861429em 1em !important;
    font-size: 12px !important;
    color: #626262 !important;
}
.equname {
    /*width: 50% !important;*/
}

.site:hover {
    opacity: 0.3;
    /*background: #CCC;*/
}
.site .view-details {
    position:absolute;
    display:none;
}
.site:hover .view-details {
    display: block;
    opacity: 1;
}
.site .view-details {
    top:35%;
    left:45%;
}
.padd-20 {
    padding: 20px;
}
.equipe {
    margin-bottom: 0px !important;
}
.position {
    position: fixed;
}
.appendpara {
    width: 80% !important;
    float: left;
}
.datalogg {
    width: 50% !important;
}
.parametName {
    width: 100% !important;
}

.links a{
    cursor: pointer;
    margin-left: 40px;
    /*color: #000 !important;*/
    /*border: 1px solid #ddd;*/
}
.btn-txt {
    padding: 11px !important;
}
.tbl {
    padding: 10px !important;
}
.width-20 {
    width: 20%;
}
.middle {
    text-align: center;
vertical-align: middle !important;
}
.filestyle {
    height: 150px !important;
}
.bootstrap-filestyle label {
    padding: 9px !important;
}
.overflow {
    overflow-x: scroll;
}
.border-none {
    border:0px !important;
}
.customaps {
    height: 700px;
}
.data-set {
    background: #F5F5F5;
    height: 160px;
    border-radius: 5px;
    margin:10px;
}
.status {
    font-size: 12px !important;
    color: #626262;
    float: left;
    text-align: left;
    margin-left: 10px !important;
}   
.padd-top-20 {
    padding-top: 20px;
}

.txtbox {
    width: 80%;
}
.cust-details {
    font-size: 13px !important;
    color: #6a6c6f;
    /*font-weight: bold;*/
}
.customer-head {
    font-size: 14px !important;
    /*text-align: center;*/
    font-weight: bold;
    /*text-decoration: underline;*/
}
.page-info {
    border: 1px solid #46be8a !important;
    background: #F0F0F0;
    
    border-radius: 7px;
}
.hr {
    border-bottom: 
}
.mb-50{
    margin-bottom: 50px;
}
.custdetails {
    height: 490px;
    /*overflow-y: scroll;*/
}
.user-login {
    color: #FFF;
    font-weight: bold;
    line-height:7px;
    width: 80px;
    text-align: center;
}
.ml-2{
	margin-left:2px;
}
.create-tkts {
    color: #FFF;
    line-height:7px;
    font-size: 11px;
font-weight: bold;
cursor:pointer;
}
.icon-color {
    color: #0d5a0d;
}
.header-top {
    background: #e2e5e9 !important;
}
.header-top1 {
    background:#d0f3d3  !important;
}
.header-top2 {
    background:#e1efe2  !important;
}
.header-top3 {
    background:#c2f1c6  !important;
}
.header-top4 {
    background:#d7fdeb  !important;
}
.header-top5 {
    background:#c6ffea  !important;
}
.header-top6 {
    background:#e2f7e6  !important;
}
.font-size {
    font-size: 29px;
}
.footer {
    bottom: 0px;
    position: absolute !important;
    display:none;
}
.ftext {
    color: #FFF;
    font-size: 14px;
    padding:10px;
}
.m-t-7 {
	margin-top:7px !important;
}
.m-t-20 {
	margin-top:20px;
}
.btn-color {
	color:#FFF !important;
}
.oveallSearch i {
			color:#FFF !important;
		}

.clearfix {
    overflow: auto;
}

  .searchbx i {
         display: none;
       }
 .oveallSearch  i {
 	display:none !important;
 }
       .oveallSearch {
         /* height: 15px !important;
width: 200px !important;
line-height: 7px !important;
border-radius: 4px !important;
margin-top: 15px !important; */
 height: 15px !important;
 min-height: 2.142em !important;
width: 200px !important;
line-height: 7px !important;
border-radius: 4px !important;
margin-top: 15px !important;
       }
.color {
	color:#000 !important;
}
#example th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #818181;
  
} 
.tkts {
	cursor:pointer;
	    margin-bottom: 2px;
   /*  margin-top: 5px !important; */
}
.table thead tr th[class*='sorting_']:not([class='sorting_disabled']) {
   color: #000;
    background: #e0e0e2 !important;
}
 .txtwidth {
          width: 100%;
          margin-left:4px !important;
        }
.hover-idle a:hover {
	color:#7b7d82 !important;
}
.disablecolor {
	color:#CCC !important;
}
.user-log {
	width:90px;
	text-align:center;
}
.m-h-30 {
	min-height:30px !important;
}
.right {
    float: right;
}
.ftext a{
    color: #FFF;
    font-weight: 600;
}
.user-login {
    font-size: 11px;
}
.mb-80 {
	margin-bottom:80px;
}
.mb-0 {
	margin-bottom:0px !important;
}
.mb-1 {
	margin-bottom:1px !important;
}
.pl-0 {
	padding-left:0px !important;
}
.mb-30 {
	margin-bottom:30px;
}
.m-b-15 {
	margin-bottom:15px;
}
.m-t-5 {
	margin-top: 5px !imnportant;
	margin-top: 5px !important;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 70px !important;
    display: inline-block;
    margin-left: 3px;
    margin-right: 4px;
    line-height: 25px;
}
.info {
	color:#204d74;
}
.border{
	/* border:1px solid #CCC; */
	padding-bottom: 5%;
    padding-top: 2%;
  /*   height:62%; */
}
.tkt-bg {
	background:#2e6da4;
	color:#FFF;

}
.p-b-0{
	padding-bottom:0px;
}
.dek-view {
	text-align:right;
}
.tbl-head {
/* 	margin-left: 3px !important; */
margin-top: 3px !important;
color: #296bc4 !important;
font-size: 15px !important;
    font-weight: bold;
	 
}
.oveallSearch {
         /* height: 19px !important;
 min-height: 2.142em !important;
width: 200px !important;
line-height: 7px !important;
border-radius: 6px !important;
margin-top: 15px !important; */
       }
       .ui.dropdown .menu > .item {
    position: relative;
    cursor: pointer;
    display: block;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.78571429rem 1.14285714rem !important;
    font-size: 12px !important;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;
    -webkit-touch-callout: none;
}
.tkt-title {
    color: #FFF !important;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}
.popup-head {
	 color: #FFF !important;
    font-weight: bold;
    margin-left: 5px;
    font-size:15px !important;
}
.mt--7{
	margin-top:-7px
}
.errormess {
    color:#DB2828;
}
.errortext {
	color:#DB2828;
	font-size:10px;
}
.tkt-popup {
	height: 450px;
   /*  overflow-x: hidden;
    overflow-y: scroll; */
}
.tbl-padd {
	padding:0px 10px;
}
.m-t-8 {
	margin-top:8px;
}
.mt-85 {
	margin-top: 85px;
}
.mb-50 {
	margin-bottom:50px;
}
.m-r-0 {
	margin-right:0px !important;
}
.m-l-0 {
	margin-left:0px !important;
}
.place-card {
	display:none;
}
.ddLState i.icon.dropdown:before {
  content: "\f0d7";
 content:'\f0b0';
 color: #337ab7 !important; 
 font-size:15px !important;
} 

.ddLType i.icon.dropdown:before {
  content: "\f0d7";
 content:'\f0b0';
 color: #337ab7 !important; 
 font-size:15px !important;
} 
.chartResponsiveHeightWidth {
	height:350px;
	width:900px;
}

.ddLPType i.icon.dropdown:before {
  content: "\f0d7";
 content:'\f0b0';
 color: #337ab7 !important; 
 font-size:20px !important;
} 

.ddLPriority i.icon.dropdown:before {
  content: "\f0d7";
 content:'\f0b0';
 color: #337ab7 !important; 
 font-size:15px !important;
} 

.ddLSite i.icon.dropdown:before {
  content: "\f0d7";
 content:'\f0b0';
 color: #337ab7 !important; 
 font-size:15px !important;
} 
#ajaxbutton {
	margin-right: 15px !important;
    cursor: pointer;
}
/* content: '\f0b0';
    color: red;
    background: #000 !important;
    padding: 2px;
     */
    
.dt-button-collection {
	  /*  position: fixed !important;
    margin-left: 320px !important;
    top: 760px !important; */
}
.Subject::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}
.ddlSite  .text{
	   /*  color: #6a6c6f !important; */
	    color: #6a6c6f !important;
    font-weight: normal !important;
}
.breadcrumb {
    /* padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5; */
    border-radius: 0px;
}
.oveallSearch .text {
	    /* color: #eae9e9 !important; */
	    color:#a49c9c !important;
}
.filterby {
	/* background: green; */
	    background: -webkit-linear-gradient(45deg, rgba(80, 140, 112, 0.87) 0%, rgb(164, 226, 162) 100%);
    padding: 10px;
    color: #FFF !important;
}
.graphPart {
	background:#FFF;
	   /*  border: 10px solid #acb9af; */
	    margin-top: 15px;
	        height: 435px;
}
.pull-rhs {
	float:right;	
}
/* .card .card-block {
    padding: 10px;
} */
 .dataExport {
	    font-weight: bold;
	    opacity:none;
	    color:#a00d0d !important;
	   
}
 
.popup-header {
    
    background: -webkit-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%);
    background: -moz-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%);
    background: -ms-linear-gradient(45deg, rgba(36, 95, 68, 0.87) 0%, rgb(98, 165, 96) 100%);
    border-radius: 5px 4px 0px 0px;
}

.AssignDesc textarea:not([rows]) {
    height: 6em;
    min-height: 3em;
    max-height: 24em;
}

@media(max-width:480px) {
	.hidden-md-down {
     	display: block!important; 
}
.chartResponsiveHeightWidth {
	height:350px;
	width:500px;
}
.mb-drop {
	margin-left:0px !important;
}
.cpadd {
	padding:0px !important;
}
.rtypemob {
	padding-left:15px !important;
}
.mob-center {
	text-align: center;
margin-top: 60px !important;
margin-bottom: 20px;
}
.graphPart {
	width:600px;
	height:400px;
	overflow-x:scroll;
}
.mm-30 {
	margin-top:30px;
}
.mm-275 {
	margin-top:275px;
}
.mml--3 {
	margin-left:-3px;
}
.bg {
	height:100% !important;
}
.wrapper {
    background: #FFF;
    height:auto;
   	width: 90%;
   	margin-left:5%;
   	margin-right:5%;  
}
#example_length {
   text-align:center;
}
#example_filter {
    float: right;
} 
.dt-button-collection {
    height: 150px !important;
    overflow: scroll !important;
    margin-left:-75px !important;
}
.equpadd {
	padding:0px !important;
}
.btn-width {
	margin-bottom:15px !important;	
}
.dataTables_wrapper {
     	overflow-x:scroll;
}
.create-tkts {
      	font-size: 10px;
		font-weight: normal;
		width: 70px;
		text-align: center;
}
.logos {
    	padding: 8px 11px 10px 16px;
}
.mm-10 {
	margin-top:10px;
}
.mm-20 {
	margin-top:20px;
}
.mm-60 {
	margin-top:60px;
}
.btn-width {

    width: 120px;

}
 .m-l-15 {

    margin-left: 15px !important;

} 
          	
#example_filter {
		float: left;
		padding: 0px;
		margin-left: 30px !important;
}
.dt-buttons {
    margin-left: 35px !important;
    margin-top: 10px;
    margin-bottom: 13px;
}
.m-b-80 {
    margin-bottom: 00px;
}
.cv-cont,.sv-cont {
	padding-bottom:10px !important;
}
.m-t-10{
		margin-top:10px;
}
.user-login {
    	color: #FFF;
		font-weight: normal;
		line-height: 7px;
		font-size: 10px;
}

.eqchart-mob {
		height:450px !important;
}
.equ-cont {
	padding-bottom:0px !important;
}
.site-chart-mob{
		height:340px !important;
}
.smb-50 {
	margin-bottom:50px;
}
#example tr th {
		width:120px;
}
.breadcrumb > .breadcrumb-item.active {
    font-weight: 500;
    color: #0090d9;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 9px !important;
    letter-spacing: 0.06em;
}
.breadcrumb a {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 9px !important;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: #7b7d82;
}
/* .page-container .page-content-wrapper .content {
    padding-top: 48px;
    padding-bottom: 30px;
} */
.uitlity {
	margin-top:20px !important;
}
.map-padd,.cmap  {
	padding:10px !important;
} 
.user-log {
	width:90px;
	text-align:center;
}
  .secondCol,.thirdcol {
  display:none;}
    #chartdiv {
        width: 100%; height: 200px;
    }
    .searchbx {
    	display:none;
    }
   .map {
   	height:	200px;
   }
   .rhs-pull {
   	float:none;
   }
   .ftext {
    color: #FFF;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 190px !important;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }
    .sitename {
        /* background: #5b835b; */
        padding: 5px;
        width: 75% !important;
        /* text-align: center; */
       /*  color: #FFF; */
        border-radius: 5px 5px 0 0;
    }
    .hoverpart {
    margin-top: 10px;
width: 100%;
height: 190px !important;
margin-bottom: 0px !important;
}
.ml-10 {
	margin-left:0px !important;
}
.mr-10 {
	margin-right:0px !important;
}
.plcsearch {
	color: transparent !important;
}
.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
    background: rgba(0, 0, 0, 0.03);
    color: transparent;
}
.txtwidth {
    width: 100%;
    margin-left: 0px !important;
}
  
.searchbx {
	display:none;
}
.bars {
	display:none;
}
    #chartdiv {
        width: 100%; 
        height: 290px !important;
    }
    .custdetails {
        /*height: 650px;*/
        height: auto;
    }

    .equname {
        float: right;
        background: #5b835b;
        padding: 5px;
        width: 40%;
        text-align: center;
        color: #FFF;
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width:767px) {
	.searchbx {
	display:none;
}

}
@media (min-width: 481px) and (max-width: 766px) { 
	
	 .wrapper {
		width:40%;
		margin-left:30%;
	} 
}
@media (min-width: 767px) and (max-width: 1024px) {
    .secondCol {
        display: none;
    }
    .mt-15 {
        margin-top: 3px;
    }
    .chartResponsiveHeightWidth {
	height:350px;
	width:900px;
}
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px !important;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
    }
    #chartdiv {
        width: 100%;
        height: 260px;
    }
    .sitename {
        background: #5b835b;
        padding: 5px;
        width: 40% !important;
        text-align: center;
        color: #FFF;
        border-radius: 5px 5px 0 0;
    }
}
@media (min-width: 767px) and (max-width: 992px) { 
	
	.wrapper {
		width:40%;
		margin-left:20%;
	}
}
@media (min-width: 993px) and (max-width: 1024px) { 
	
	.wrapper {
		width:76%;
		margin-left:12%;
	} 
}
@media (min-width: 1025px) and (max-width: 1920px) { 
	
	.wrapper {
		width:70%;
		margin-left:15%;
	} 
}



